body {
    padding: 7% 0 7% 0;;
    /* font-family: 'Lobster Two', cursive; */
    background-image: linear-gradient(135deg,black 60%,grey);
}

/* .container{
    font-weight: 700;
    font-style: bolder;
} */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row-1{
    display: flex;
    justify-content: center;
    color: white;
}
.row-2{
    display: flex;
    justify-content: center;
}

.row-3{
    display: flex;
    justify-content: center;
    padding: 1em;
}

#restartButton{
    padding:1.125em;
    background-color: orange;
    border-radius: 10px;
    font-weight: bolder;
    cursor:pointer;
    transition: 500ms;
}
#restartButton:hover{
    transform: scale(1.5);
    background-color: red;
    color: antiquewhite;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid black;
    background-color: white;
}

.grid div {
    width: 15px;
    height: 15px;   
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 7.5px;
}

.pacman {
    background-color: orange;
    border-radius: 7.5px;
    border: none;
}

.blinky {
    background-color: red;
    border: none;
}

.pinky {
    background-color: pink;
    border: none;
}

.inky {
    background-color: aqua;
    border: none;
}

.clyde {
    background-color: orange;
    border: none;
}

.scared-ghost {
    background-color: aquamarine;
    border: none;
}